.footer {
  width: 100%;
  background-color: #121212;
  padding: 24px 0;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footerLeft {
  display: flex;
  align-items: center;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    font-variant: all-small-caps;
    color: rgba(255, 255, 255, 0.5);
}

.footerRight {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footerLink {
    font-weight: 400;
    font-size: 16px;
    font-variant: all-small-caps;
    color: rgba(255, 255, 255, 0.5);
}

.footerLink:hover {
  color: #63ff66;
  text-shadow: 
    0 0 8px #63ff66,
    0 0 1px #63ff66;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 0;
  }

  .footerContainer {
    padding: 0 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footerRight {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

