.content {
  min-height: calc(50vh - 80px);
  background-color: #000000;
}

.videoSection {
  position: relative;
  width: 100%;
  height: calc(50vh - 80px);
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.videoContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4rem;
  z-index: 2;
}

.videoText {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.28em;
  font-variant: all-small-caps;
  color: #fff;
}

@media (max-width: 768px) {
  .videoContainer {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  
  .videoText {
    font-size: 2.5rem;
  }
}
